.container {
  min-height: 100vh;
  width: 100%;
  background: #111111;
}

.title {
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
  position: relative;

  h1 {
    margin: 0;
  }
}

.heading {
  color: white;
  font-size: 56px;
  font-weight: 900;
  &_sub {
    color: var(--red);
  }
}

.sub {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 110px;
  font-weight: 800;
  text-transform: uppercase;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.07);
}
