.dcontainer {
  width: 70px;
  //   background: rgb(224, 224, 224);
  height: 30rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  right: 15px;
  top: 60%;
  transform: translate(-5%, -50%);
  z-index: 100;
}

.active {
  background-color: var(--red) !important;
  // background: white;
  position: relative;
  z-index: 10;
  // width: 40px;
  border-radius: 50%;
  // position: absolute;
  height: 50px;
  margin: 10px 0;
  // margin-top: 20px;
  // width: 50px;
}
.link {
  background: #2b2a2a;
  height: 50px;
  margin: 10px 0;
  border-radius: 50%;
}
