.homepage {
  min-height: 100vh;
  background-color: #111111;
  display: flex;
  align-items: center;
}

.left {
  position: fixed;
  min-height: 200%;
  width: 100%;
  background-color: var(--red);
  transform: rotate(-15deg);
  top: -50%;
  left: -83%;
}

.hero {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  padding: 0 20px;

  &_left {
    width: 33vw;
    height: 650px;
    border-radius: 30px;
    background-color: black;

    &__img {
      margin-top: -30px;
      height: 670px;
      width: 33vw;
    }
  }
  &_right {
    position: absolute;
    left: 0;
    padding: 0 10px;
    width: 50vw;
    // background-color: white;
    height: max-content;
    text-align: left;
    margin-left: 45%;
    margin-top: -2%;
    // padding: 0.5rem 1rem;
    padding: 0 15px;
  }
}

.heading {
  font-size: 51px;
  font-weight: 800;
  line-height: 62px;
  text-transform: uppercase;
  color: var(--red);
  padding-left: 70px;
  margin: 20px 0;

  &::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 53px;
    height: 4px;
    width: 40px;
    border-radius: 10px;
    background-color: var(--red);
  }

  &_sub {
    font-size: 51px;
    line-height: 62px;
    // color: black;
    color: white;
  }
}

.subheading {
  color: rgba(230, 230, 230, 0.856);
  max-width: 650px;
  letter-spacing: 0.04rem;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 500;
}

.button {
  margin-top: 15px;
  padding: 16px 70px 16px 35px;
  border: 1.5px solid var(--red);
  display: inline-flex;
  align-items: center;
  border-radius: 35px;
  text-decoration: none !important;
  transition: 250ms all ease-in-out;
  position: relative;
//   z-index: 1;
  overflow: hidden;

  &::before {
    // z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 35px;
    transform: translateX(100%);
    transition: 0.5s ease-out all;
    background-color: var(--red);
    border: 1.5px solid var(--red);

  }

  &:hover {
    &::before {
        transform: translateX(0);
    }
  }

  &_text {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    // z-index: 7;
  }
}

// .button:hover:before {
//     transform: translateX(0);

// }