.iconbox {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  padding: 0px;
  position: relative;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--red);
    color: white;
  }

  &_icon {
    color: #ddd;
    position: absolute;
    pointer-events: none;
    z-index: 3;
  }

  &_link {
    display: block;
    padding: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;

    &:hover h2 {
      z-index: 2;
      opacity: 1;
      right: 27px;
      margin: 0;
      text-align: center;
      border-radius: 35px 0 0 35px;
      background-color: var(--red);
    }

    &__text {
      z-index: -1;
      position: absolute;
      right: 0;
      opacity: 0;
      color: rgb(255, 255, 255);
      line-height: 50px;
      font-weight: 500;
      border-radius: 30px;
      text-transform: uppercase;
      padding: 0 25px 0 30px;
      height: 50px;
      font-size: 15px;
      transition: all 0.2s ease-out;
      margin: 0;

      &:hover {
        opacity: 1;
        right: 27px;
        margin: 0;
        text-align: center;
        border-radius: 35px 0 0 35px;
        background-color: var(--red);
      }
    }
  }
}
